.contenedorInterface {
  width: 100%;
  height: 100%;
  display: flex;
  padding: 20px;
  background-color: #071520;
  color: #d4e6ff;
}

/* Parte 1 */
.balanceAndSubs {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: 2px solid #2779b8;
}
.tablaDeBalance {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px;
  width: 100%;
  border-bottom: 2px solid #2779b8;
  padding: 20px;
}
.balance-Datos {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  width: 100%;
}
.h3-balance {
  text-align: center;
  font-size: 1.5em;
  border-bottom: 2px solid #2779b8;
}

/* Parte 2 */
.interfaceActions {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 20%;
  gap: 20px;
  padding: 20px;
  border-right: 2px solid #2779b8;
  border-top: 2px solid #2779b8;
  border-bottom: 2px solid #2779b8;
}
.interfaceActionsInterno {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.formInterfaceActions {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}
.input-formInterfaceActions,
.select-formInterfaceActions {
  outline: none;
  width: 100%;
  background-color: #cadffb;
  padding: 5px;
  box-shadow: rgba(202, 223, 251, 0.16) 0px 3px 6px, rgba(202, 223, 251, 0.23) 0px 3px 6px;
}
.select-formInterfaceActions {
  font-size: 1em;
}
.input-formInterfaceActions {
  padding-left: 10px;
}
.h3-interfaceActions {
  text-align: center;
}
/* BOTON */
.botonInterface {
  width: 100%;
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
  color: #fff;
  cursor: pointer;
  height: 48px;
  justify-content: center;
  line-height: 1;
  padding: 0 16px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  font-size: 18px;
}
.botonInterface:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}
.botonInterface:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}
.botonInterface:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
}

/* Parte 3 */
.subscripciones {
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  height: 100%;
  padding: 20px;
}
.h2Subscripciones {
  text-align: center;
  font-size: 1.5em;
  border-bottom: 2px solid #2779b8;
  width: 100%;
  margin-bottom: 10px;
}
.sub {
  display: flex;
  align-items: center;
  background-color: #cadffb;
  border-radius: 50px;
  width: 100%;
  height: 70px;
  padding: 10px 12px 10px 10px;
  gap: 2px;
  color: black;
  box-shadow: rgba(202, 223, 251, 0.16) 0px 3px 6px, rgba(202, 223, 251, 0.23) 0px 3px 6px;
  transition: background-color 0.2s ease-in-out;
}
.sub:hover {
  background-color: #a9c3e4;
}
.subImgCont {
  width: 10%;
  height: auto;
  pointer-events: none;
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.subImgCont {
  width: 8%;
  max-width: 50px;
}
.subImg {
  width: 100%;
  max-width: 100%;
  height: auto;
}
.subText {
  width: 70%;
  flex: 1;
}
.subText b {
  color: green;
}
.subButtons {
  width: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  user-select: none;
}
.subButtons button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}
.subButtons button:hover {
  background-color: #cadffb;
}
.botonEdit {
  height: 1.4em;
}
.botonDelete {
  height: 1.3em;
  padding: 2px;
}

/* Estilo de la barra de desplazamiento */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: #2779b8;
  border-radius: 5px;
  cursor: pointer;
}
::-webkit-scrollbar-track {
  background-color: #cadffb;
  border-radius: 5px;
}

/* MEDIA QUERIES */
@media screen and (max-width: 750px) {
  .contenedorInterface {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    padding: 10px;
    height: 100vh;
    overflow-y: auto;
  }
  .interfaceActions {
    width: 100%;
    border: 2px solid #2779b8;
    justify-content: space-between;
    height: auto;
  }
  .balanceAndSubs {
    width: 100%;
    flex-grow: 1;
    gap: 0;
  }
  .h3-balance {
    font-size: 1.2em;
  }
  .tablaDeBalance {
    justify-content: space-between;
    gap: 10px;
  }
  .balance-Datos {
    flex-direction: column;
  }
  .sub {
    padding: 10px 12px 10px 10px;
    gap: 2px;
  }
  .subImgCont {
    width: 8%;
  }
  .subImg {
    width: 100%;
  }
  .subText {
    flex: 1;
  }
  .subButtons {
    width: 15%;
  }
  .subButtons button {
    padding: 0;
  }
  .botonDelete {
    height: 0.9em;
  }
  .botonEdit {
    height: 0.9em;
  }
}

@media screen and (max-width: 480px) {
  .subButtons {
    width: 10%;
    flex-direction: column;
  }
  .subButtons button {
    padding: 0;
  } 
  .botonDelete {
    height: 0.9em;
  }
  .botonEdit {
    height: 0.9em;
  }
}