<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="styles.css">
</head>

<body>
  <main class="container">
    <h1 class="titulo">Subscription Tracker</h1>

    <section class="section">
      <h2 class="subtitulo">Balance:</h2>
      <div class="elementosBalance">
        <span>Balance 1: $333</span>
        <span>Balance 1: $333</span>
        <span>Balance 1: $333</span>
      </div>
    </section>

    <section class="section">
      <h2 class="subtitulo">Recibo de Suscripciones</h2>

      <article class="elementosSubscripciones">
        <div class="servicios lista">
        <h3 class="listaTitulo">Servicio</h3>
        <div class="elementos">
          <span class="elemento">1.Elemento</span>
          <span class="elemento">2.Elemento</span>
          <span class="elemento">3.Elemento</span>
        </div>
      </div>

      <div class="precios lista">
        <h3 class="listaTitulo">Precio</h3>
        <div class="elementos">
          <span class="elemento">$20</span>
          <span class="elemento">$20</span>
          <span class="elemento">$20</span>
        </div>
      </div>
      </article>
      
    </section>

    <section class="section">
      <h2 class="subtitulo">Agradecimientos:</h2>
      <p class="parrafo">Gracias por usar esta aplicación. Derechos recervados del codigo de la 
        aplicación a <a href="https://github.com/Schugu">Leandro Daniel Schugurensky</a>.
      </p>
    </section>
  </main>
</body>

</html>