/* CONTENEDOR BASE */
.main {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* SECCION PORTADA */
.portadaSection {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 80vh;
  background-color: #379fed;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  border-radius: 5px;
}
.portadaArticle {
  width: 60%;
  height: 100%;
  text-align: center;
  padding-top: 20px;
  
  background-image: url(../public/portada.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}
.h2Portada{
  font-size: 1em;
  color: #f0f8ff;
  text-shadow: 1px 1px 2px black;
}
.portadaForm {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  padding-top: 20px;
}
.portadaFormTitulo {
  color: #f0f8ff;
  text-shadow: 1px 1px 2px black;
  font-style: oblique;
  border-bottom: 2px solid #f0f8ff;
  font-size: 1.5em;
  text-align: center;
}
/* SECCION PORTADA: FORM AGREGAR PLATA */
.formAddMoney {
  width: 100%;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.h2FormAddMoney{
  color: #f0f8ff;
  text-shadow: 1px 1px 2px black;
}
.inputAndButtonForm{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px
}
.inputForm {
  width: 100%;
  height: 50px;
  font-size: 25px;
  padding: 20px;
  outline: none;
  border: none;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
}
.buttonForm {
  width: 100%;
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
  color: #fff;
  cursor: pointer;
  height: 48px;
  justify-content: center;
  line-height: 1;
  padding-left: 16px;
  padding-right: 16px;
  text-align: left;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  font-size: 18px;
}
.buttonForm:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}
.buttonForm:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}
.buttonForm:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
}



/* INTERFACE */
.contenedorInterface {
  width: 100%;
  height: 100%;
  display: flex;
  padding: 20px;
  background-color: #071520;
  color: #d4e6ff;
}
/* Parte 1 */
.balanceAndSubs {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  /* background-color: #81bcea; */
  border: 2px solid #2779b8;
}
.tablaDeBalance{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px;
  width: 100%;
  border-bottom: 2px solid #2779b8;
  padding: 20px;
}
.balance-Datos {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  width: 100%;
}
.h3-balance {
  text-align: center;
  font-size: 1.5em;
  border-bottom: 2px solid #2779b8;
}
/* Parte 2 */
.interfaceActions {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 20%;
  gap: 20px;
  padding: 20px;
  border-right: 2px solid #2779b8;
  border-top: 2px solid #2779b8;
  border-bottom: 2px solid #2779b8;
}
.formInterfaceActions{
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}
.input-formInterfaceActions, .select-formInterfaceActions {
  outline: none;
  width: 100%;
  background-color: #cadffb;
  padding: 5px;
  box-shadow: rgba(202, 223, 251, 0.16) 0px 3px 6px, rgba(202, 223, 251, 0.23) 0px 3px 6px;
}
.input-formInterfaceActions {
  padding-left: 10px;
}
.boton-InterfaceActions {
  text-align: center;
}
.h3-interfaceActions{
  text-align: center;
}

/* Parte 3 */
.subscripciones {
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  height: 100%;
  padding: 20px;
}
.h2Subscripciones{
  text-align: center;
  font-size: 1.5em;
  border-bottom: 2px solid #2779b8;
  width: 100%;
  margin-bottom: 10px;
}
.sub{
  display: flex;
  align-items: center;
  background-color: #cadffb;
  border-radius: 50px;
  width: 100%;
  height: 70px;
  padding: 20px;
  gap: 20px;
  color: black;
  box-shadow: rgba(202, 223, 251, 0.16) 0px 3px 6px, rgba(202, 223, 251, 0.23) 0px 3px 6px;
}
.subImgCont{
  width: 20%;
}
.subImg {
  height: 100%;
  width: 20%;
}
.subText {
  width: 70%;
}
.subText b {
  color: green;
}

.subButtons {
  width: 10%;
  display: flex;
  align-items: center;
  gap: 10px;
}
.subButtons button{
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
  width: 50%;
  height: 100%;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}
.subButtons button:hover {
  background-color: #a9c3e4;
}
.botonEdit{ 
  width: 100%;
  padding: 2px;
}
.botonDelete {
  padding: 5px;
  width: 100%;
}







@media screen and (max-width: 750px) {
  .main {
    width: 100%;
    height: 100vh ;
    border-radius: 0;
  }
  .portadaSection {
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    width: 100%;
  }
  .portadaArticle {
    width: 100%;
    height: 50%;
  }
  .portadaForm {
    width: 100%;
    height: 50%;
  }
}

@media screen and (max-width: 480px) {
  .portadaArticle {
    height: 40%;
  }
  .portadaForm {
    height: 50%;
  }
}